*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #00537a;
    text-align: center;
    color: white
}

h1{
    margin-top: 50px;
    margin-bottom: 30px;
}

.content{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 16px;
    border: none;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #cf3b00
}

#reset{
    padding: 16px;
    font-size: 18px;
    border-radius: 16px;
    border: none;
    background-color: rgb(0, 59, 63);
    color: white;
    margin-bottom: 20px;
}

#new-game{
    padding: 16px;
    font-size: 18px;
    border-radius: 16px;
    border: none;
    background-color: rgb(0, 59, 63);
    color: white;
}

#reset:hover, #new-game:hover{
    background-color: rgb(0, 79, 83);
}

.win-msg{
    font-size: 20px;
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: green;
}

.hide{
    display: none;
}
